.testimonials .card{
    border: 0;
}
.testimonials .card-header{
    border: 0;
    background-color: transparent;
}
.testimonials .card:hover{
    background-image: linear-gradient(75deg, #4d62cb,#3044a5);
    color: #fff !important;
    transition:  .1s  all ease-in-out !important;
}
.testimonials .card:hover .card-body{
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 10%;
}
.testimonials .card:hover h5,
.testimonials .card:hover p
{
    color: #fff !important;
}
.testimonials .card:hover img{
    display: none;
}