#team img {
    margin-top: -50px;
}

#team i {
    font-size: 26px;
    color: #555;
}

#team .card{
    border-radius: 0;
    box-shadow: 5px 5px 15px #3044a5;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover{
    background: #3044a5;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
}

#team .card:hover h3, #team .card:hover i {
    color:#fff;
}