.contact-us{
    background-image: url(../../../images/image1.png);
    position: relative;
    z-index: 1;
}
.contact-us::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    /* background: rgb(85, 83, 104); */
    opacity: .9;
    z-index: -1;
}